.container {
  max-width: 1140px;
  margin: 0 auto;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.App main {
  padding: 40px 0;
  flex: 1;
}
